body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 72px;
}

.header-nav {
  flex-direction: row;
  display: flex;
}

address {
  display: flex;
  flex-direction: row;
}

ul,
ol {
  list-style-type: none;
}

.solution {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}

.solution-text {
  text-align: center;
}
