body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

header {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 72px;
}

.header-nav {
  flex-direction: row;
  display: flex;
}

address {
  display: flex;
  flex-direction: row;
}

ul,
ol {
  list-style-type: none;
}

.solution {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}

.solution-text {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
}
.solution-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
